html {
    font-family: sans-serif;
}

body {
    background: rgb(234,241,252);
    background: linear-gradient(0deg, rgba(234,241,252,1) 0%, rgba(203,210,223,1) 100%);
    margin-left: 20px;
    margin-right: 20px;
    text-align: center;
    min-height: 100vh;
}

#book-shelf, #movie-shelf {
    box-sizing: border-box;
    width: 100%;
    max-width: 600px;
    min-height: 60vh;
    margin: auto;
    text-align: center;
    overflow: scroll;
    position: relative;
    background-color: white;
    border: 2em solid white;
    border-radius: 0.75em;
    margin-bottom: 5em;
}

.flex-container {
    display: flex;
    flex-direction: column;
}

label {
    margin-top: 1em;
    margin-bottom: 0.5em;
}

input {
    margin-bottom: 2em;
}

select {
    margin-bottom: 2em;
}

footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-top: 1px solid rgba(203,210,223);
    border-bottom: 1px solid rgba(203,210,223);
    margin: 3em 0em 2em 0em;
}

button {
    margin: 0.5em 0em 0.5em 0em;
    background-color: white;
    border: none;
    font-size: 16px;
    font-family: sans-serif;
}

.nav {
    margin: 0.5em 0em 0.5em 0em;
}

a {
    text-decoration: none;
    color: black;
}

a:visited {
    color: black;
}

a:hover {
    color: rgb(108, 143, 155);
}