html {
    font-family: sans-serif;
}

body {
    /* background: rgb(234,241,252); */
    background: linear-gradient(0deg, rgba(234,241,252,1) 0%, rgba(203,210,223,1) 100%);
    margin-left: 5%;
    margin-right: 5%;
    text-align: center;
    min-height: 100vh;
}

header {
    margin: 2em 0em 3em 0em;
}

.flex-container {
    display: flex;
    flex-direction: row;
    /* justify-content: space-between; */
}

#book-shelf {
    box-sizing: border-box;
    width: 100%;
    min-height: 50%;
    overflow: scroll;
    position: relative;
    background-color: white;
    border: 2em solid white;
    border-radius: 0.75em;
    margin-bottom: 5em;
}

#movie-shelf {
    box-sizing: border-box;
    width: 100%;
    min-height: 50%;
    overflow: scroll;
    position: relative;
    background-color: white;
    border: 2em solid white;
    border-radius: 0.75em;
    margin-bottom: 5em;
}

.image {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transition: transform .2s;
    margin: 0.5em;
}

.image:hover {
    transform: scale(1.02);
}

.list {
    margin: 0 1.5em;
}

.list h3 {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

a {
    text-decoration: none;
    color: black;
}

a:visited {
    color: black;
}

a:hover {
    color: rgb(108, 143, 155);
}

.credit {
    margin-bottom: 3em;
    color:rgba(203,210,223,1);
}